/* updates background color */
body {
    background-color: white;
}

/* added background color for the header section */
header {
    height: 150px;
    background-color: #F95573;
}


/* hides header when screen is small */
/* centers the text box for the search vehicle name*/
.textBoxCenter {
    display: flex;
    justify-content: center;
}




/* centeres the cards 4 across per column */
.containerHoldCardsColumn {
    padding-top: 1em;
    display: flex;
    justify-content: space-around;
    flex-basis: 25%; 
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 1em;
}

/* added styling for the header text */
h1 {
    display: none;
}

/* increases the nav button by height of 150*/
nav {
    display: flex;
    justify-content: center; /* Center contents horizontally */
    align-items: center; /* Center contents vertically */
}

/* increases the image by height of 100*/
img {
    height: 100px;
}

/* added footer and footer styling */
footer {
    margin-left: .5rem;
    color:  #F95573;
    font-family: 'Roboto', sans-serif;
}

/* makes the header a flex box */
.headerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* this moves the nav bar a little to the right */
.nav-container {
    margin-left: auto;
}

/* this makes the list elements stack and styles them */
.nav-items li {
    /* display: inline-block; */
    justify-content: center;
    align-items: center;
    margin: .5rem;
    list-style: none;
}

/* makes the nav bar a flex box and align the items within it */
.navbar {
    display: flex;
    align-items: center; 
}

/* makes the pages title centered */
.pageTitle {
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

/*align text to center */
.textCenter {
    text-align: center;
    display: flex;
    
}

/* method to create the height of the car image.*/
.increaseCarHeight {
    height: 200px;
}

/* changes the color of the economy button to green.*/
.economyButtonColor {
    color: white;
    background-color: #4FEF35;
}

/*increases the text box */
.textBox {
    margin: auto;
    width: 35%;
    padding: 10px;
}

/* changes the button color to red for clear filter*/
.changeButtonColor {
    background: red;
    text-align: center;
    height: 40px;
}

/* makes the CarQueen title bold and centered */
.comparison-centeredTitle {
    font-weight: bold;
}

/* method to create the height of the car image for just the comparison page.*/
.comparison-increaseCarHeight {
    height: 200px;
    width: 300px;
}

/* changes the comarpison page car title */
.comparison-searchCarTitle {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.25rem;
}

/* makes the search bar on the comparions page a flex box */
.comparison-searchBar {
    display: flex;
}

/* Styles the button in the comparison card */
.form-group.mb-3.comparison-col-3 button {
    width: 280px; 
    height: 40px;
    padding: 8px;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 1.7rem;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

/* changes button color when hovering over it */
.form-group.mb-3.comparison-col-3  button:hover {
    background-color: rebeccapurple; 
}

/* changes the search bars length on the comparison page TODO: make media query for this so that when its smaller it takes up the same length as the
car card */
.comparison-col {
    flex: 0 0 25%; /* This sets the flex-grow, flex-shrink, and flex-basis properties */
    max-width: 25%; /* This sets the maximum width of the column */
    flex-basis: 25%; /* This sets the initial main size of the column */
}

.comparison-cardFlex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* changes the padding/margin around each card so that they aren't flush against
the border */
.comparison-cardMargin {
    display: flex;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

/* adds margin to the search form on the comparison page */
.comparison-searchPosition {
    margin-bottom: .5rem;
}

/* makes logo a flex box */
.comparison-vsFlex{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

/* styles the VS image on the comparison page */
.comparison-vsImage {
    height: 400px;
    width: 400px;
}

/* hides the phone links when screen is small */
div#page-links {
    display: none;
}

/* styles the hamburger menu */
div#hamburger-menu {
    text-align: center;
    padding: 1em;
    cursor: pointer;
}

/* changes hamburger menu color and size */
#hamburger-menu i {
    text-align: center;
    font-size: 24px;
    color: white; /* Default color for the hamburger icon */
}  

/* when on a phone screen the hamburger menu will display the links in block form */
@media (min-width: 598px) {

    /* hides the hamburger menu when screen is bigger than phone */
    div#hamburger-menu {
        display: none;
    }
    
    /* display links when screen is bigger than phone */
    div#page-links {
        display: block;
    }

    /* added styling for the header text when screen is big */
    h1 {
        display: block;
        font-weight: bold;
        font-family: Helvetica, sans-serif;
    }


}



