/* updates background color */
body {
    background-color: white;
}

/* added background color for the header section */
header {
    background-color: #F95573;
}

/* centers the text box for the search vehicle name*/
.textBoxCenter {
    display: flex;
    justify-content: center;
}

/* centeres the cards 4 across per column */
.containerHoldCardsColumn {
    padding-top: 1em;
    display: flex;
    justify-content: space-around;
    flex-basis: 25%; 
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 1em;
}

/* added styling for the header text */
h1 {
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

/* increases the nav button by height of 150*/
nav {
    height: 150px;
}

/* increases the image by height of 100*/
img {
    height: 100px;
}

/* added footer and footer styling and places it at the bottom*/
.footerStyling {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 1rem;
    color:  #F95573;
    font-family: 'Roboto', sans-serif;
    margin-top: auto;
    min-height: 10vh;
}

/* makes the header a flex box */
.headerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* makes the nav bar a flex box and align the items within it */
.navbar {
    display: flex;
    align-items: center; 
}

/* makes the pages title centered */
.pageTitle {
    margin: 0;
    justify-content: center;
    align-items: center;
}

/*align text to center */
.textCenter {
    text-align: center;
}

/* method to create the height of the car image.*/
.increaseCarHeight {
    height: 200px;
}

/* changes the color of the economy button to green.*/
.economyButtonColor {
    color: white;
    background-color: #4FEF35;
}

/*changes the color of the sport button to red */
.sportButtonColor {
    color: white;
    background-color: red;
}

/* changes the color of the sound clip button*/
.sportButtonColorSound {
    color: white;
    background-color: #BDE3FF;
}

/* changes the color of the SUV button to purple  */
.suvButtonColor {
    color: white;
    background-color: rgb(66, 66, 241);
}

/* changes the color of the SUV button to purple  */
.truckButtonColor {
    color: white;
    background-color: rgb(190, 190, 3);
}

/*increases the text box */
.textBox {
  margin: auto;
  width: 35%;
  padding: 10px;
}

/* changes the button color to red for clear filter*/
.changeButtonColor {
    background: red;
    text-align: center;
    height: 40px;
}

/* changes the More information button to color red like header */
.moreInformationButtonColor {
    background: #F95573;
    color: white; 
    margin-bottom: 1em;
}

/* makes the CarQueen title bold and centered */
.comparison-centeredTitle {
    font-weight: bold;
}

/* method to create the height of the car image for just the comparison page.*/
.comparison-increaseCarHeight {
    height: 200px;
    width: 300px;
}

/* changes the comarpison page car title */
.comparison-searchCarTitle {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.25rem;
}

/* makes the search bar on the comparions page a flex box */
.comparison-searchBar {
    display: flex;
}

/* Styles the button in the comparison card */
.form-group.mb-3.comparison-col-3 button {
    width: 280px; 
    height: 40px;
    padding: 8px;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 1.7rem;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

/* changes button color when hovering over it */
.form-group.mb-3.comparison-col-3  button:hover {
    background-color: rebeccapurple; 
}

/* changes the search bars length on the comparison page TODO: make media query for this so that when its smaller it takes up the same length as the
car card */
.comparison-col {
    flex: 0 0 25%; /* This sets the flex-grow, flex-shrink, and flex-basis properties */
    max-width: 25%; /* This sets the maximum width of the column */
    flex-basis: 25%; /* This sets the initial main size of the column */
}

.comparison-cardFlex {
    display: flex;
    justify-content: space-evenly;
}

/* changes the padding/margin around each card so that they aren't
flush againsts
the border */
.comparison-cardMargin {
    display: flex;
    /* margin-top: .5rem;
    margin-left: 3rem;
    margin-right: 2rem; */
}

/* adds margin to the search form on the comparison page */
.comparison-searchPosition {
    margin-bottom: .5rem;
}

/* makes logo a flex box */
.comparison-vsFlex{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

/* styles the VS image on the comparison page */
.comparison-vsImage {
    height: 400px;
    width: 400px;
}

/* when on a phone screen the hamburger menu will display the links in block form */
@media (min-width: 598px) {

    div#navbar {
        display: none;
    }
    
    div#socialLinks {
        display: block;
    }
    
}



